<div class="summary-cards" *ngIf="data">
  <div class="summary-card">
    <div class="card-title">Total Projects</div>
    <div class="card-value">{{ data.summary.totalProjects }}</div>
    
  </div>
  <div class="summary-card">
    <div class="card-title">Total Task</div>
    <div class="card-value">{{ data.summary.totalTasks }}</div>
    <div class="card-subtitle">
      {{ data.summary.taskStatus.done }} Done,
      {{ data.summary.taskStatus.inProgress }} InProgress,
      {{ data.summary.taskStatus.todo }} todo
    </div>
  </div>
  <div class="summary-card">
    <div class="card-title">Total Bugs</div>
    <div class="card-value">{{ data.summary.totalBugs }}</div>
  </div>
</div>

<div class="charts-grid" >
  <div class="chart-container">
    <div class="chart-title">Task Status</div>
    <canvas baseChart
            [data]="taskStatusChart"
            [type]="'doughnut'">
    </canvas>
  </div>

  <div class="chart-container">
    <div class="chart-title">Task Type</div>
    <canvas baseChart
            [data]="taskTypeChart"
            [type]="'doughnut'">
    </canvas>
  </div>


