<div class="dialog-container">
  <h2>{{ data.mode }} Sprint</h2>

  <form [formGroup]="sprintForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <!-- Project ID -->
      <div class="form-field">
        <label for="projectId">Project</label>
        <select
          id="projectId"
          formControlName="projectId"
          [disabled]="data.mode !== 'Add'"
        >
          <option *ngFor="let project of dropdown" [value]="project.id">
            {{ project.projectName }}
          </option>
        </select>
        <div
          class="field-error"
          *ngIf="
            sprintForm.get('projectId')?.touched &&
            sprintForm.get('projectId')?.invalid
          "
        >
          <span *ngIf="sprintForm.get('projectId')?.errors?.['required']"
            >Project ID is required.</span
          >
        </div>
      </div>

      <!-- Sprint Name -->
      <div class="form-field">
        <label for="sprintName">Sprint Name</label>
        <input
          id="sprintName"
          type="text"
          formControlName="sprintName"
          [disabled]="data.mode === 'View'"
          placeholder="Enter sprint name"
        />
        <div
          class="field-error"
          *ngIf="
            sprintForm.get('sprintName')?.touched &&
            sprintForm.get('sprintName')?.invalid
          "
        >
          <span *ngIf="sprintForm.get('sprintName')?.errors?.['required']"
            >Sprint Name is required.</span
          >
          <span *ngIf="sprintForm.get('sprintName')?.errors?.['minlength']"
            >Minimum 3 characters required.</span
          >
        </div>
      </div>

      <!-- Goal -->
      <div class="form-field">
        <label for="goal">Goal</label>
        <textarea
          id="goal"
          rows="3"
          formControlName="goal"
          [disabled]="data.mode === 'View'"
          placeholder="Enter sprint goal"
        ></textarea>
        <div
          class="field-error"
          *ngIf="
            sprintForm.get('goal')?.touched && sprintForm.get('goal')?.invalid
          "
        >
          <span *ngIf="sprintForm.get('goal')?.errors?.['required']"
            >Goal is required.</span
          >
          <span *ngIf="sprintForm.get('goal')?.errors?.['minlength']"
            >Minimum 5 characters required.</span
          >
        </div>
      </div>

      <div class="date-fields">
        <!-- Start Date -->
        <div class="date-field">
          <label for="startDate">Start Date</label>
          <input
            type="date"
            id="startDate"
            formControlName="startDate"
            [disabled]="data.mode === 'View'"
            [min]="formattedToday"
            placeholder="Select start date"
          />
          <div
            class="field-error"
            *ngIf="
              sprintForm.get('startDate')?.touched &&
              sprintForm.get('startDate')?.invalid
            "
          >
            <span *ngIf="sprintForm.get('startDate')?.errors?.['required']"
              >Start Date is required.</span
            >
          </div>
        </div>

        <!-- End Date -->
        <div class="date-field">
          <label for="endDate">End Date</label>
          <input
            type="date"
            id="endDate"
            formControlName="endDate"
            [disabled]="data.mode === 'View'"
            [min]="sprintForm.get('startDate')?.value"
            placeholder="Select end date"
          />
          <div
            class="field-error"
            *ngIf="
              sprintForm.get('endDate')?.touched &&
              sprintForm.get('endDate')?.invalid
            "
          >
            <span *ngIf="sprintForm.get('endDate')?.errors?.['required']"
              >End Date is required.</span
            >
          </div>
        </div>
      </div>

      <!-- Status -->
      <div class="form-field">
        <label for="status">Status</label>
        <select
          id="status"
          formControlName="status"
          [disabled]="data.mode === 'View'"
        >
          <option value="Planned">Planned</option>
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
        </select>
        <div
          class="field-error"
          *ngIf="
            sprintForm.get('status')?.touched &&
            sprintForm.get('status')?.invalid
          "
        >
          <span *ngIf="sprintForm.get('status')?.errors?.['required']"
            >Status is required.</span
          >
        </div>
      </div>
    </div>

    <div class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button
        *ngIf="data.mode !== 'View'"
        type="submit"
        class="bg-primary"
        [disabled]="sprintForm.invalid"
      >
        {{ data.mode }}
      </button>
    </div>
  </form>
</div>
